.ERPInfo {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../../../../public/images/erp/erp_lg_Info.png");
  background-size: cover;
  color: #fff;

  .Heading {
    color: #fff;
  }

  .ERPInfo__Content {
    padding: 1rem;
  }

  .ERPInfo__Testimonial {
    display: flex;
    justify-content: center;
    align-items: center;

    .thumb {
      width: 200px;
      height: auto;
      padding-right: 5px;
    }
  }

  @media screen and (max-width: 1007px) {
    .ERPInfo__Content {
      margin-top: 2rem 0;
    }
  }

  @media screen and (max-width: 500px) {
    .ERPInfo__Testimonial {
      flex-flow: column;
    }
  }
}
