.Ecom_Container {
  position: relative;
  overflow: hidden;

  .containerproblem {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
  }

  .Ecom_Section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .Ecom_Section--row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;

    &.Desk_Hero--row {
      flex-direction: row-reverse;
    }

    &.Mobile_Hero--row {
      margin-top: 80px;
      justify-content: space-between;
      align-items: center;
      border-style: none;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.77);
    }
  }

  .Ecom_Section--bg {
    position: absolute;
    top: -130px;
    right: -45%;
    z-index: -1;
    width: 86%;

    &.Mobile_Hero--bg {
      top: -230px;
      overflow: visible;
    }

    &.Desk_Hero--bg {
      left: -40%;
      top: -5%;
      right: auto;
      width: 80%;
    }
  }

  .Ecom_TextColumn {
    display: inline;
    width: 45%;
    float: none;
    align-self: center;
    text-align: left;
  }

  .Ecom_ImageColumn {
    &.Mobile_Hero {
      width: 25%;
    }

    &.Desk_Hero {
      position: relative;
      width: 60%;
    }
  }

  .Image_Wrapper {
    position: relative;

    &.Desk_ImgWrapper {
      left: -25%;
    }
  }

  @media screen and (max-width: 991px) {
    .Ecom_Section {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .Ecom_Section--row {
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
      flex-direction: column;

      &.Desk_Hero--row {
        flex-direction: column;
      }
    }

    .Ecom_Section--bg {
      &.Mobile_Hero--bg {
        top: -544px;
        right: 50%;
        display: block;
        transform: translate(50%, 0px);
        width: 1200px;
      }

      &.Desk_Hero--bg {
        top: auto;
        bottom: 0px;
        width: 640px;
        transform: translate(50%, 0px);
      }
    }

    .Ecom_TextColumn {
      display: block;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .Ecom_ImageColumn {
      &.Mobile_Hero {
        width: auto;
        max-width: 240px;
        margin-top: 50px;
      }

      &.Desk_Hero {
        width: 85%;
        margin-top: 100px;
      }
    }

    .Image_Wrapper {
      &.Desk_ImgWrapper {
        left: -10%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .Ecom_Section--row {
      &.Mobile_Hero--row {
        margin-top: 80px;
        text-align: center;
      }
    }

    .Ecom_Section--bg {
      &.Mobile_Hero--bg {
        top: -500px;
      }

      &.Desk_Hero--bg {
        left: -20%;
        bottom: 2%;
        width: 140%;
        max-width: 140%;
        transform: translate(0%, 0px);
      }
    }

    .Ecom_TextColumn {
      width: 90%;
    }

    .Ecom_ImageColumn {
      &.Desk_Hero {
        width: 100%;
        margin-bottom: 50px;
      }
    }

    .Image_Wrapper {
      &.Desk_ImgWrapper {
        left: 0%;
      }
    }
  }

  @media screen and (max-width: 479px) {
    .Ecom_Section {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .Ecom_Section--row {
      &.Mobile_Hero--row {
        margin-top: 50px;
      }
    }

    .Ecom_Section--bg {
      &.Desk_Hero--bg {
        bottom: 8%;
      }
    }

    .Ecom_TextColumn {
      width: 100%;
    }
  }
}
