@font-face {
  font-family: "SourceSansBold";
  src: local("SourceSansBold"),
    url("./SourceSans/SourceSansPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansBlack";
  src: local("SourceSansBlack"),
    url("./SourceSans/SourceSansPro-Black.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansSemiBold";
  src: local("SourceSansSemiBold"),
    url("./SourceSans/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansRegular";
  src: local("SourceSansRegular"),
    url("./SourceSans/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansItalic";
  src: local("SourceSansItalic"),
    url("./SourceSans/SourceSansPro-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansBoldItalic";
  src: local("SourceSansBoldItalic"),
    url("./SourceSans/SourceSansPro-BoldItalic.ttf") format("truetype");
}
