.Mobile_Hero {
  .Mobile_Gif {
    position: absolute;
    left: 5%;
    top: 11%;
    z-index: 4;
    width: 90%;
  }

  .Mobile_Image {
    position: relative;
    z-index: 1;
  }

  .Mobile_BlurImg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    opacity: 0.5;
    filter: blur(20px);
  }

  @media screen and (max-width: 991px) {
    .Mobile_Gif {
      left: 12px;
      top: 57px;
    }
  }
}
