.Desk_Hero {
  .Desk_Gif {
    position: absolute;
    left: 20%;
    top: 9%;
    z-index: 2;
    width: 80%;
  }

  .Desk_Image {
    position: relative;
    z-index: 1;
    width: 120%;
    max-width: 120%;
  }

  .Desk_BlurImg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    opacity: 0.5;
    filter: blur(20px);
  }

  @media screen and (max-width: 767px) {
    .Desk_Gif {
      left: 10%;
      top: 8%;
      width: 80%;
    }

    .Desk_Image {
      left: -10%;
      width: 120%;
      max-width: 120%;
    }

    .Desk_BlurImg {
      left: -10%;
      width: 120%;
      max-width: 120%;
    }
  }

  @media screen and (max-width: 479px) {
    .Desk_Gif {
      left: 7%;
      width: 88%;
    }

    .Desk_Image {
      left: -15%;
      width: 130%;
      max-width: 130%;
    }

    .Desk_BlurImg {
      left: -15%;
      width: 130%;
      max-width: 130%;
    }
  }
}
