.Footer {
  padding: 34px 0;
  background: #0bab64;
  background-image: url(https://images.squarespace-cdn.com/content/v1/57d8a8fce58c6231819aac1c/1610374059494-S9EBRIGPBTFU9TPLANLF/Untitled+design+%2830%29.png?format=2500w);
  color: #ffffff;
  background-size: cover;
  background-position: top;

  .Heading {
    color: #ffffff;
  }

  .Form__Input::placeholder {
    color: #ffffff;
    border: none;
  }

  .Form__Submit {
    background: #1d1d1d;
    font-size: 13px;
    font-weight: 600;
  }

  .Footer__Block {
    margin-top: 48px;

    &:first-child {
      margin-top: 0;
    }
  }

  .Footer__Title {
    margin-bottom: 20px;
  }

  .Footer__Social {
    margin-top: 5px;
  }

  .Footer__Aside {
    text-align: center;
    margin-top: 40px;
  }

  @media screen and (min-width: 641px) {
    padding: 75px 0 42px 0;

    .Footer__Inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -40px;
      margin-right: -40px;
    }

    .Footer__Block {
      flex: 1 1 50%;
      margin-top: 0;
      margin-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .Footer__Social {
      margin-top: 14px;
    }
  }

  @media screen and (min-width: 1140px) {
    .Footer__Inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .Footer__Block {
      flex: 0 1 auto;
    }

    .Footer__Block--text {
      flex-basis: 400px;
    }

    .Footer__Block--connected {
      flex-basis: 305px;
    }

    .Footer__Aside {
      margin-top: 80px;
    }
  }

  @media screen and (max-width: 640px) {
    .Footer__Block--links {
      .Footer__Title {
        position: relative;
        margin: 20px 0;

        &::before {
          content: "";
          border-right: solid 2px #fff;
          height: 15px;
          width: 15px;
          position: absolute;
          top: 6px;
          right: 10px;
        }

        &::after {
          content: "";
          border-bottom: solid 2px #fff;
          width: 15px;
          height: 15px;
          position: absolute;
          top: -1px;
          right: 3px;
        }
      }

      .Linklist {
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all 0.3s ease;
        padding-bottom: 0;
      }

      & + .Footer__Block--links {
        margin-top: 0;
        border-top: 1px solid #ddd;
      }

      &.collapsed {
        .Footer__Title:before {
          display: none;
        }

        .Linklist {
          opacity: 1;
          visibility: visible;
          height: auto;
          padding-bottom: 20px;
        }
      }
    }
  }
}
