.section {
  padding: 4em 0;
}

@media screen and (min-width: 750px) {
  .section {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

.homepage-hero {
  position: relative;
  background-color: #fbf7ed;
  overflow: hidden;
  min-height: 500px;

  .homepage-hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .homepage-hero-image {
    display: block;
    width: 100%;
    position: relative;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.65) 0,
        rgba(0, 0, 0, 0) 30%
      );
    }
  }

  @media screen and (max-width: 1239px) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 1240px) {
    .homepage-hero-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      right: -64px;

      > img {
        object-position: right top;
      }
    }
  }
}
